header {
  /* 區塊樣式 */
  border: 1px lightgray solid;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 2px gray;

  /* 排列樣式 */
  display: flex;
  justify-content: space-around;
}
.navbar {
  /* 排列樣式 */
  display: flex;
  justify-content: space-between;

  /* 字型樣式 */
  color: rgb(82, 82, 82);
  font-size: 18px;
  font-weight: bolder;
  text-decoration-line: none;
  align-items: center;

  /* 位置樣式 */
  margin: 15px 30px;
}
.navbar-center {
  /* 排列樣式 */
  display: flex;
  justify-content: center;

  /* 字型樣式 */
  text-decoration-line: none;
  color: rgb(82, 82, 82);

  /* 區塊樣式 */
  width: 100px;
  padding: 0px 10px;
  border-right: 1px gray solid;
}
.middle {
  /* 排列樣式 */
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; */
  /* margin: auto; */
}
.topbanner {
  /* 文字樣式 */
  color: white;
  font-size: 52px;
  font-weight: bolder;

  /* 文字位置樣式 */
  text-align: center;
  line-height: 200px;

  /* 背景樣式 */
  background-image: url(../OJTP01_許凱翔/saturn_malmerCassini_5m.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
.sidebar {
  /* 排列樣式 */
  display: flex;
  flex-direction: column;

  /* 文字樣式 */
  color: white;
  font-weight: bolder;
  align-items: center;
  text-decoration-line: none;

  /* 區塊樣式 */
  background-color: gray;
  border-radius: 5px;
  margin: 30px 0px;
  padding: 5px 0px;
}
aside,
section {
  width: 15%;
}
main,
article {
  width: 80%;
}
h3 {
  /* 文字樣式 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  border-bottom: 1px black solid;
  font-size: 24px;
}
hr {
  border: 1px black solid;
}
span {
  /* 文字樣式 */
  font-weight: bolder;

  /* 區塊樣式 */
  background-color: bisque;
  border-radius: 5px;
  padding: 5px 30px;
}
.container {
  margin: auto;
  width: 75%;
}
.content {
  margin: 20px 0px;
}
ul,
footer {
  list-style: none;
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
}
td {
  vertical-align: top;
}
ol {
  padding-left: 22px;
  margin-top: 0%;
}
