<!DOCTYPE html>
<html lang="zh-hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <h2>Home Page</h2>
    <a href="">Australia</a>
    <a href="">Brazil</a>
    <div>
      <form method="post" action="">
        <input type="text" placeholder="請輸入國家名稱" name="" id="" />
        <button type="submit">送出</button>
      </form>
    </div>
    <p>根據國家代號 {{id}} 讀出相關資料</p>
  </body>
</html>
